body
	min-width 1224px
	font-size 12px
	line-height 1.5
	color #666
	background-color #fff
	width 100%
	height 100%

.bian
	position fixed
	right 10px
	bottom 100px
	width 36px
	height 78px
	text-align center
	z-index 999
	.bian1
		background #00a2ca
		color #fff
		width 36px
		height 36px
		border-radius 18px
		a
			display inline-block
			padding 2px 6px
			color #fff
			font-size 12px
			background 0 0
			cursor pointer
	.bian2
		background #eee
		color #acacac
		width 36px
		height 36px
		border-radius 18px
.daoHang
	width 100%
	height 90px
	.daoHang1
		width 1224px
		height 90px
		background-color red
		margin 0 auto
		.nav-h
			background-image url(../image/1.png)
			width 152px
			height 35px
			border 1px solid black
		ul
			display flex
			position relative
			color #fff
			float left
			li
				position static
				z-index 99
				background 0 0
				display inline-block
				margin 0
				padding 0
				vertical-align top
				float left
				a
					display block
					color #fff
					font-size 16px
					font-weight 200
					line-height 90px
					padding 0 18px
					transition all .4s .4s
			
			
		
		
		